@model RentACar.WebAplikacija.ViewModels.RezervacijePretragaDatumVM
@{
    ViewData["Title"] = "Nova rezervacija";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $().ready(function () {

                var p = $("li");

                p.removeClass("kt-menu__item--active");
                p.removeClass("kt-menu__item--here");
                p.removeClass("kt-menu__item--open");


                $("#RezervacijaGlavniMeni").addClass("kt-menu__item--open kt-menu__item--here");
                $("#RezervacijaSporedniMeni2").addClass("kt-menu__item--open kt-menu__item--here");

                document.getElementById("RezervacijaGlavniMeniDiv").style = "";
                document.getElementById("RezervacijaSporedniMeniDiv").style = "";
            });
        });
    </script>

    
   <script src="/metronic/themes/metronic/theme/default/demo12/dist/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>

    <script type="text/javascript">
        var t;
        t = KTUtil.isRTL() ? {
            leftArrow: '<i class="la la-angle-right"></i>',
            rightArrow: '<i class="la la-angle-left"></i>'
        } : {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            };

        $("#RezervacijaOd, #RezervacijaDo").datepicker({ rtl: KTUtil.isRTL(), todayHighlight: !0, orientation: "bottom left", templates: t, format: "dd-mm-yyyy", autoclose: true });

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('-');
        }

        function PromijeniDatumDo() {
            var rOd = $("#RezervacijaOd");
            var rDo = $("#RezervacijaDo");

            //alert("Datum do promijenjen! " + rOd.val());

            var parts = rOd.val().split('-');
            var mydate = new Date(parts[2], parts[1] - 1, parts[0]);
            mydate.setDate(mydate.getDate() + 1);
            var dateStr = formatDate(mydate);

            rDo.datepicker("destroy");
            rDo.datepicker({
                rtl: KTUtil.isRTL(),
                todayHighlight: !0,
                orientation: "bottom left",
                templates: t,
                autoclose: true,
                format: "dd-mm-yyyy",
                startDate: dateStr
            });

            rDo.val(dateStr);
            rDo.attr("data-date-start-date", dateStr);
            rDo.attr("value", dateStr);
        };
    </script>
}


<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader" bis_skin_checked="1">
    <div class="kt-container  kt-container--fluid " bis_skin_checked="1">
        <div class="kt-subheader__main" bis_skin_checked="1">
            <h3 class="kt-subheader__title">Rezervacija vozila</h3>

            <span class="kt-subheader__separator kt-hidden"></span>

        </div>
        <div class="kt-subheader__toolbar" bis_skin_checked="1">

        </div>
    </div>
</div>
<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" bis_skin_checked="1">


    <!--begin::Portlet-->
    <div class="kt-portlet" bis_skin_checked="1">
        <div class="kt-portlet__head" bis_skin_checked="1">
            <div class="kt-portlet__head-label" bis_skin_checked="1">
                <h3 class="kt-portlet__head-title">Odabir datuma rezervacije</h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form kt-form--label-right" asp-action="Pretraga">
            <div class="kt-portlet__body" bis_skin_checked="1">

                <div class="form-group row" bis_skin_checked="1">
                    <label class="col-form-label col-lg-3 col-sm-12">Datum početka rezervacije</label>
                    <div class="col-lg-4 col-md-9 col-sm-12" bis_skin_checked="1">
                        <div class="input-group date" bis_skin_checked="1">
                            <input asp-for="@Model.RezervacijaOdString" type="text" class="form-control" data-date-start-date="+1d" readonly="" placeholder="Izaberi datum" id="RezervacijaOd" onchange="PromijeniDatumDo()" data-date-format="dd-mm-yyyy">
                            <div class="input-group-append" bis_skin_checked="1">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group row" bis_skin_checked="1">
                    <label class="col-form-label col-lg-3 col-sm-12">Datum završetka rezervacije</label>
                    <div class="col-lg-4 col-md-9 col-sm-12" bis_skin_checked="1">
                        <div class="input-group date" bis_skin_checked="1">
                            <input asp-for="@Model.RezervacijaDoString" type="text" class="form-control" readonly="" data-date-start-date="+2d" placeholder="Izaberi datum" id="RezervacijaDo" data-date-format="dd-mm-yyyy">
                            <div class="input-group-append" bis_skin_checked="1">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot" bis_skin_checked="1">
                <div class="kt-form__actions" bis_skin_checked="1">
                    <div class="row" bis_skin_checked="1">
                        <div class="col-lg-9 ml-lg-auto" bis_skin_checked="1">
                            <button type="submit" class="btn btn-brand">Pronađi vozila</button>
                            <a href="/" class="btn btn-secondary">Odustani</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>
<!-- end:: Content -->
