@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_LayoutAnonymous";
}

@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@

<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8">

    <title>Rent A Car | Greška</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">        <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="/metronic/themes/metronic/theme/default/demo12/dist/assets/css/pages/error/error-5.css" rel="stylesheet" type="text/css">
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="/metronic/themes/metronic/theme/default/demo12/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css">
    <link href="/metronic/themes/metronic/theme/default/demo12/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css">
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->

    <link rel="shortcut icon" href="~/metronic/themes/metronic/theme/default/demo12/dist/assets/media/logos/rentacar_icon.ico">

    <!-- Hotjar Tracking Code for keenthemes.com -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1070954,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <script async="" src="https://static.hotjar.com/c/hotjar-1070954.js?sv=6"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-37564768-1');
    </script>
    <script async="" src="https://script.hotjar.com/modules.ab7d31210390a6834c38.js" charset="utf-8"></script>
    <style type="text/css">
        iframe#_hjRemoteVarsFrame {
            display: none !important;
            width: 1px !important;
            height: 1px !important;
            opacity: 0 !important;
            pointer-events: none !important;
        }
    </style>
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed">


    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v5" style="background-image: url(/metronic/themes/metronic/theme/default/demo12/dist/assets/media/error/bg5.jpg);">
            <div class="kt-error_container">
                <span class="kt-error_title">
                    <h1>Uups!</h1>
                </span>
                <p class="kt-error_subtitle">Dogodila se greška!</p>
                <p class="kt-error_description">
                    Radimo na njoj i otklonit ćemo je<br>
                    u što kraćem mogućem intervalu.<br><br>
                    Možete se vratiti na prethodnu stranicu <br>
                    ili kontaktirati našu tehničku podršku.
                </p>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
            var KTAppOptions = {"colors":{"state":{"brand":"#2c77f4","light":"#ffffff","dark":"#282a3c","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="/metronic/themes/metronic/theme/default/demo12/dist/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="/metronic/themes/metronic/theme/default/demo12/dist/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!-- end::Body -->

    <iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-469cf41adb11dc78be68c1ae7f9457a4.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
</body>
</html>

